name: client

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - justfile
      - .github/workflows/client.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  KUBERT_TEST_NS: kubert-test

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  local:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.26
        tls:
          - openssl-tls
          - rustls-tls
    name: local (k8s ${{ matrix.k8s }}, ${{ matrix.tls }})
    timeout-minutes: 30 # building with OpenSSL can be quite slow...
    runs-on: ubuntu-latest
    env:
      KUBERT_TEST_CLUSTER_VERSION: ${{ matrix.k8s }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: linkerd/dev/actions/setup-rust@v43
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84
      - run: just fetch
      - run: just --set features ${{ matrix.tls }} build-examples
      - run: just --set features ${{ matrix.tls }} test-cluster-create
      - run: just --set features ${{ matrix.tls }} test-cluster-run-watch-pods --log-level=debug
      - run: just --set features ${{ matrix.tls }} test-cluster-create-ns
      - name: Run just test-cluster-run-watch-pods with impersonation
        run: |
          just --set features ${{ matrix.tls }} \
            test-cluster-run-watch-pods \
            --log-level=debug \
            --as=system:serviceaccount:${KUBERT_TEST_NS}:watch-pods \
            --kubeconfig=$HOME/.kube/config
      - run: just --set features ${{ matrix.tls }} test-lease-build
      - run: just --set features ${{ matrix.tls }} test-lease

  in-cluster:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.26
        tls:
          - openssl-tls
          - rustls-tls
    name: in-cluster (k8s ${{ matrix.k8s }}, ${{ matrix.tls }})
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      KUBERT_TEST_CLUSTER_VERSION: ${{ matrix.k8s }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: linkerd/dev/actions/setup-rust@v43
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - run: just --set features ${{ matrix.tls }} build-examples-image
      - run: just --set features ${{ matrix.tls }} test-cluster-create
      - run: just --set features ${{ matrix.tls }} test-cluster-import-examples
      - run: just --set features ${{ matrix.tls }} test-cluster-create-ns
      - run: just --set features ${{ matrix.tls }} test-cluster-deploy-watch-pods --log-level=debug
