name: client

on:
  pull_request:
    paths:
      - Cargo.lock
      - '**/*.rs'
      - .github/workflows/client.yml

permissions:
  contents: read

env:
  CARGO_ACTION_FMT_VERSION: v0.1.3
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  K3D_VERSION: v5.3.0
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  local:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.1
    steps:
      # Setup a cluster
      - run: curl --proto =https --tlsv1.3 -fLsSv https://raw.githubusercontent.com/k3d-io/k3d/${K3D_VERSION}/install.sh | bash
      - run: k3d --version
      - name: Install kubectl
        run: |
          version=$(curl --proto =https --tlsv1.3 -fLsSv https://dl.k8s.io/release/stable.txt)
          curl --proto =https --tlsv1.3 -fLsSvo /usr/local/bin/kubectl "https://dl.k8s.io/release/$version/bin/linux/amd64/kubectl"
          chmod 755 /usr/local/bin/kubectl
      - run: k3d cluster create --no-lb --k3s-arg '--no-deploy=local-storage,traefik,servicelb,metrics-server@server:*'
      - run: kubectl version
      - name: Setup RBAC
        run: |
          kubectl create namespace kubert-test
          kubectl create serviceaccount --namespace=kubert-test watch-pods
          kubectl create clusterrole watch-pods --verb=get,list,watch --resource=pods
          kubectl create clusterrolebinding watch-pods --clusterrole=watch-pods --serviceaccount=kubert-test:watch-pods
      # Run the example locally
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - name: Run cargo run watch-pods
        run: |
          cargo run --package=kubert-examples --example=watch-pods -- \
              --as=system:serviceaccount:kubert-test:watch-pods \
              --exit \
              --log-level=debug

  in-cluster:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      # Setup a cluster
      - run: curl --proto =https --tlsv1.3 -fLsSv https://raw.githubusercontent.com/k3d-io/k3d/${K3D_VERSION}/install.sh | bash
      - run: k3d --version
      - run: k3d cluster create --no-lb --k3s-arg "--no-deploy=local-storage,traefik,servicelb,metrics-server@server:*"
      - run: kubectl version
      - name: Setup RBAC
        run: |
          kubectl create namespace kubert-test
          kubectl create serviceaccount --namespace=kubert-test watch-pods
          kubectl create clusterrole watch-pods --verb=get,list,watch --resource=pods
          kubectl create clusterrolebinding watch-pods --clusterrole=watch-pods --serviceaccount=kubert-test:watch-pods
      # Build a docker image with the examples
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - uses: docker/setup-buildx-action@94ab11c41e45d028884a99163086648e898eed25
      - run: docker buildx build . -f examples/Dockerfile --tag kubert-examples:test --load
      - run: k3d image import kubert-examples:test
      # Run the example in-cluster
      - name: Run kubectl run watch-pods
        run: |
          kubectl run watch-pods \
              --attach \
              --command \
              --image=kubert-examples:test \
              --image-pull-policy=Never \
              --labels=olix0r.net/kubert-test=watch-pods \
              --namespace=kubert-test \
              --overrides='{"spec": {"serviceAccount": "watch-pods"}}' \
              --quiet \
              --restart=Never \
              --rm \
              -- \
            watch-pods --exit --log-level=debug --selector=olix0r.net/kubert-test=watch-pods

