name: client

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - justfile
      - .github/workflows/client.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_VERSION: 1.64.0
  RUSTUP_MAX_RETRIES: 10
  KUBERT_TEST_NS: kubert-test

jobs:
  local:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.26
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      KUBERT_TEST_CLUSTER_VERSION: ${{ matrix.k8s }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v40
      - uses: linkerd/dev/actions/setup-rust@v40
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
      - run: just fetch
      - run: just build-examples
      - run: just test-cluster-create
      - run: just test-cluster-run-watch-pods --log-level=debug
      - run: just test-cluster-create-ns
      - name: Run just test-cluster-run-watch-pods with impersonation
        run: |
          just test-cluster-run-watch-pods --log-level=debug \
            --as=system:serviceaccount:${KUBERT_TEST_NS}:watch-pods \
            --kubeconfig=$HOME/.kube/config
      - run: just test-lease-build
      - run: just test-lease

  in-cluster:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.26
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      KUBERT_TEST_CLUSTER_VERSION: ${{ matrix.k8s }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v40
      - uses: linkerd/dev/actions/setup-rust@v40
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
      - run: just build-examples-image
      - run: just test-cluster-create
      - run: just test-cluster-import-examples
      - run: just test-cluster-create-ns
      - run: just test-cluster-deploy-watch-pods --log-level=debug
