name: client

on:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - justfile
      - .github/workflows/client.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_VERSION: 1.64.0
  RUSTUP_MAX_RETRIES: 10
  KUBERT_TEST_NS: kubert-test

jobs:
  local:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.25
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      KUBERT_TEST_CLUSTER_VERSION: ${{ matrix.k8s }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v35
      - uses: linkerd/dev/actions/setup-rust@v35
      - run: curl --tlsv1.2 -sSfL https://apt.llvm.org/llvm.sh | sudo bash -s 11
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - run: just fetch
      - run: just build-examples
      - run: just test-cluster-create
      - run: just test-cluster-run-watch-pods --log-level=debug
      - run: just test-cluster-create-ns
      - name: Run just test-cluster-run-watch-pods with impersonation
        run: |
          just test-cluster-run-watch-pods --log-level=debug \
            --as=system:serviceaccount:${KUBERT_TEST_NS}:watch-pods \
            --kubeconfig=$HOME/.kube/config
      - run: just test-lease-build
      - run: just test-lease

  in-cluster:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.25
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      KUBERT_TEST_CLUSTER_VERSION: ${{ matrix.k8s }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v35
      - uses: linkerd/dev/actions/setup-rust@v35
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just build-examples-image
      - run: just test-cluster-create
      - run: just test-cluster-import-examples
      - run: just test-cluster-create-ns
      - run: just test-cluster-deploy-watch-pods --log-level=debug
