name: features

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - justfile
      - .github/workflows/features.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  all-check:
    strategy:
      matrix:
        rust:
          - "1.60"
          - "1.66"
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v40
      - uses: linkerd/dev/actions/setup-rust@v40
        with:
          version: ${{ matrix.rust }}
          components: clippy
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - run: just fetch
      - run: just features=all clippy

  feature-check:
    strategy:
      matrix:
        feature:
          - admin
          - admin,metrics
          - client
          - "client rustls-tls"
          - "client boring-tls"
          - "client boring-tls rustls-tls"
          - errors
          - index
          - initialized
          - lease
          - log
          - metrics
          - requeue
          - runtime
          - server
          - "server rustls-tls"
          - "server boring-tls"
          - "server boring-tls rustls-tls"
          - shutdown
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v40-rust
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - run: just fetch
      - run: just "features=${{ matrix.feature }}" clippy
