name: features

on:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - .github/workflows/features.yml

permissions:
  contents: read

env:
  CARGO_ACTION_FMT_VERSION: v0.1.3
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  features:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.58.1
    steps:
      - run: |
          curl --proto =https --tlsv1.3 -vsSfLo /usr/local/bin/cargo-action-fmt "https://github.com/olix0r/cargo-action-fmt/releases/download/release%2F${CARGO_ACTION_FMT_VERSION}/cargo-action-fmt-x86_64-unknown-linux-gnu"
          chmod 755 /usr/local/bin/cargo-action-fmt
      - uses: taiki-e/install-action@5df67a78186f8a2ec76e4a855ad42981a32e2d60
        with:
          tool: cargo-hack
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: cargo fetch
      - run: cargo hack --feature-powerset --workspace check --all-targets --message-format=json | cargo-action-fmt
