name: features

on:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - justfile
      - .github/workflows/features.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  all-check:
    strategy:
      matrix:
        rust:
          - "1.60"
          - "1.64"
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v39
      - uses: linkerd/dev/actions/setup-rust@v39
        with:
          version: ${{ matrix.rust }}
          components: clippy
      - run: curl --tlsv1.2 -sSfL https://apt.llvm.org/llvm.sh | sudo bash -s 11
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - run: just fetch
      - run: just features=all clippy

  feature-check:
    strategy:
      matrix:
        feature:
          - admin
          - client
          - errors
          - index
          - initialized
          - lease
          - log
          - requeue
          - runtime
          - server
          - shutdown
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v39-rust
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - run: just fetch
      - run: just "features=${{ matrix.features }}" clippy
