name: features

on:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - justfile
      - .github/workflows/features.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  all-check:
    strategy:
      matrix:
        rust:
          - "1.60"
          - "1.64"
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v36
      - uses: linkerd/dev/actions/setup-rust@v36
        with:
          version: ${{ matrix.rust }}
          components: clippy
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just fetch
      - run: just features=all clippy

  feature-check:
    strategy:
      matrix:
        feature:
          - admin
          - client
          - errors
          - index
          - initialized
          - lease
          - log
          - requeue
          - runtime
          - server
          - shutdown
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v35-rust
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just fetch
      - run: just "features=${{ matrix.features }}" clippy
