name: features

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - justfile
      - .github/workflows/features.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  all-check:
    strategy:
      matrix:
        rust:
          - "1.74"
          - "1.76"
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: linkerd/dev/actions/setup-rust@v43
        with:
          version: ${{ matrix.rust }}
          components: clippy
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84
      - run: just fetch
      - run: just features=all clippy

  feature-check:
    strategy:
      matrix:
        feature:
          - admin
          - admin,prometheus-client
          - client
          - "client rustls-tls"
          - "client openssl-tls"
          - "client openssl-tls rustls-tls"
          - errors
          - index
          - initialized
          - lease
          - log
          - prometheus-client
          - requeue
          - runtime
          - runtime,prometheus-client
          - server
          - "server rustls-tls"
          - "server openssl-tls"
          - "server openssl-tls rustls-tls"
          - shutdown
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v43-rust
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84
      - run: just fetch
      - run: just "features=${{ matrix.feature }}" clippy
