name: features

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - justfile
      - .github/workflows/features.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  all-check:
    strategy:
      matrix:
        rust:
          - "1.65"
          - "1.73"
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v42
      - uses: linkerd/dev/actions/setup-rust@v42
        with:
          version: ${{ matrix.rust }}
          components: clippy
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - run: just fetch
      - run: just features=all clippy

  feature-check:
    strategy:
      matrix:
        feature:
          - admin
          - admin,prometheus
          - client
          - "client rustls-tls"
          - "client openssl-tls"
          - "client openssl-tls rustls-tls"
          - errors
          - index
          - initialized
          - lease
          - log
          - prometheus
          - requeue
          - runtime
          - server
          - "server rustls-tls"
          - "server openssl-tls"
          - "server openssl-tls rustls-tls"
          - shutdown
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v42-rust
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - run: just fetch
      - run: just "features=${{ matrix.feature }}" clippy
