name: test

on:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - justfile
      - .github/workflows/test.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v35-rust
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just fetch
      - run: just test-build
      - run: just test
